<style>
body{
  background: none;
}
</style>

<div class="parallax-container">
<% if flash["warning"] %>
    <div class="warning"><%= flash["warning"] %></div>
  <% end %>
    <div class="parallax"><%=image_tag src="landing.jpg"%></div>
  </div>
  <div class="section black">
    <div class="row container">
      <h2 class="header">WECOME TO ROBOR</h2>
      <p>YOUR ORGANIZER FOR PLAYING GAMES</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><%=image_tag src="nintendo.jpg"%></div>
  </div>
  <div class="section black">
    <div class="row container">
      <h2 class="header">CLICK THE TAGS</h2>
      <p>GET A GAME LIST TO ORGANIZE WHEN YOU WANT TO PLAY YOUR GAMES</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><%=image_tag src="classic.jpg"%></div>
  </div>
  <div class="section black">
    <div class="row container">
      <h2 class="header">CREATED BY</h2>
      <p>JEFFREY WU - CUZ I GOT TOO MANY GAMES ON MY LIST</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><%=image_tag src="brawl.jpg"%></div>
  </div>
